# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc
.pyo
.pyd

# Environments
.env
.venv
venv/
ENV/

# Project local files
accounts.json
crawling_result/
debug_image/
logs/
files.zip
